.Nav-2 .profilePic {
    width: 70%;
}

.Nav-2 .dropdown-menu {
    min-width: 15rem;
}

.Nav-2 .Dropleft .dropdown-menu {
    margin-top: 60% !important;
}

/* Remove the left arrow on dropdown */

.Nav-2 .dropleft .dropdown-toggle::before {
    display: none !important;
    vertical-align: 0;
}

.Nav-2 .navbar {
    background-color: black;
    vertical-align: auto;
}

.Nav-2 .navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.Nav-2 .navbar-light .navbar-toggler {
    border-color: white;
    background-color: white;
    opacity: 0.8;
}