.Nav-3 .nav-3 {
    background-color: #44b5ed;
    vertical-align: auto;
}

.Nav-3 .dropdown-menu {
    background: none;
    left: -5rem;
}

.Nav-3 .btn-drop .btn-primary {
    background: none;
    border: none;
}

.Nav-3 .navbar-light .navbar-nav .nav-link {
    color: white;
}